body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    border: 1px solid black;
    color: white;
    padding: 10px;
    background-color: black;
}
input{
    width: 90%;
    height: 20px;
}
.pass
{
    display: flex;
    margin-top: 10px;
}
span{
    margin-left: 10px;
}